body {
    margin: 0px;
    width: 100%;
    color: black;
    background-color: rgb(75, 75, 75);
    align-items: center;
    justify-content: center;
    display: flex;
}


.faixa {
    margin: 0;
    position: absolute;
    top: 440;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;

}

.cor1 {

    background-color: blueviolet;
    flex: 1;
}

.cor2 {

    background-color: blue;
    flex: 1;
}

.tabela {
    margin: 0;
    padding-left: 5px;
    position: relative;
    text-align: center;
}


h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

table,
th,
td {
    margin: 0;
    text-align: center;
    padding-left: 30px;
    padding-top: 10px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
}


img {
    border-radius: 50%;
}


.fundo{
    margin: 0;
    padding-left: 5px;
    height: 500px;
    background-color: rgb(75, 75, 75);
}

.fundo1 {
    height: 451px;
    background-color: rgb(255, 255, 255);
}

.fundo2 {
    height: 397px;
    background-color: rgb(75, 75, 75);
}

.fundo3 {
    height: 333px;
    background-color: rgb(255, 255, 255);
}

.fundo4 {
    height: 280px;
    background-color: rgb(75, 75, 75);
}

.fundo5 {
    height: 216px;
    background-color: rgb(255, 255, 255);
}

.fundo6 {
    height: 162px;
    background-color: rgb(75, 75, 75);
}



