.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
}
.grid-item {
    display: flex;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
  }