.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px 10px;

}
.grid-item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
  }