*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html{
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
}

header, footer{
    background-color:#4b4b4b;
    text-align: center;
    width: 100vw;
    min-height:15vh;
    color: white;
    display: flex;
    flex-direction: column;
}



nav ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.conteiner{
    display: flex;
}

aside{
    display: flex;
    width: 30vw;
    background-color: blue;
    flex-direction: column;

}

main{
    width: 70vw;
    background-color:white ;
}

nav ol li a{
    text-decoration: none;
    color: white;
}

aside h3 ul li a{
    text-decoration:none;
    color: black;
}