*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:100vw ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.coluna1{
    width: 50vw;
flex-grow: 1;
flex-basis: 20px;
}

.coluna2{
    width: 50vw;
    flex-basis: 100vh;
}